body{
    width: 1500px;
    height: 800px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
    background-color: rgb(138, 195, 245);
    animation: donghua 3s infinite;
}
.flex{
    display: flex;
}
.coloum{
    flex-direction: column;
}
.header{
    height: 200px;
    width: 100px;
}
.main{
    display: flex;
}
.Left-top{
    width:880px;
    height: 150px;
    line-height: 3px;
    border: 3px solid aliceblue;
    margin-top: 20px;
    color: #fff;
    letter-spacing: 13PX;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding-left: 20px;
    box-shadow: 0 0 15px #fff;
    text-shadow: 10px 10px 10px #222;
    background-image: url(https://kexinnan2133.github.io/image/天空4.jpg);
}
#logo{
    border-radius: 50px;
    box-shadow: 0 0 20px;
    transition: all 3.0s;
}
#logo:hover{
    box-shadow: 0 0 10px #1a1818;
    -webkit-box-shadow: 0 0 19px #ffffff;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
.Left-in{
    width: 900px;
    height: 500px;
    border: 2px solid aliceblue;
    margin-top: 50px;
    box-shadow: 0 0 15px #fff;
    background-image: url(https://kexinnan2133.github.io/image/天空4.jpg);
    background-size: 900px 500px;
}
.Right-page{
    width: 450px;
    height: 700px;
    border: 2px solid aliceblue;
    margin-left: 80px;
    margin-top: 50px;
    box-shadow: 0 0 15px #fff;
    background-image: url(https://kexinnan2133.github.io/image/天空5.jpg);
    background-size: 450px 700px;
    display: flex;
}
.main .Left-in div{
    width: 500px;
    height: 400px;
    margin: 40px 170px;
    border: 9px solid aliceblue;
    text-align: center;
    padding-top: 20px;
    overflow: auto;
    line-height: 30px;
    font-family: "宋体";
    font-size: 20px;
    color: #fff;
}
::-webkit-scrollbar {
    width: 0px;
}
header{
    border: 5px solid aliceblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
    height: 620px;
    margin-top: 15px;
    margin-left: 26px;
    box-shadow: 0 0 15px #000;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
.container{
    width: 90px;
    height: 610px;
    margin: 5px;
}
.logo{
    width: 80px;
    height: 50px;
    padding-left: 5px;
    border: 2px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    letter-spacing: 15px;
}
.row{
    width: 85px;
    height: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.daohang{
    border: 2px solid #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 28px;
}
.neirong{
    border: 3px solid aliceblue;
    width: 300px;
    height: 500px;
    margin-top: 80px;
    margin-left: 10px;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.lianjq{
    position: relative;
    width: 290px;
    height: 500px;
    margin: 10px 4px;
    border: 2px solid #fff;
}
.tupian{
    width: 280px;
    height:300px;
    margin: 5px;
}

a{
    color: #fff;

}
a:hover {
    font-size: 150%;
}


@keyframes donghua {
    50%{
        border: 3px solid rgb(169, 164, 164);
    }
}
