body{
    background-color: cadetblue;
    border-radius: 10px;
    width: 1500px;
    height: 840px;
    display: flex;
    flex-direction: column;
}
.container1{
display: flex;
}
.L-d {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    width: 590px;
    height: 790px;
}
.D-l{
    display: flex
    width: 590px;
    height: 90px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(87, 123, 145);
}
#logo {
    width: 80px;
    height: 80px;
    margin: 5px ;
    box-shadow: 0 0 20px;
    border-radius: 50px;
}
#logo:hover {
    animation: D-H1 5s infinite alternate ease-in-out;
}
.N-r{
    width: 590px;
    height: 680px;
    border: 1px solid rgb(245, 241, 241);
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(87, 123, 145);
}
.M-d{
    flex-direction: column;
    border: 2px solid rgb(241, 237, 237);
    border-radius: 10px;
    margin: 5px;
    width: 450px;
    height: 790px;
    overflow: auto;
    box-shadow: 0 0 10px;
}
.R-d{
    flex-direction: column;
    border: 2px solid rgb(241, 237, 237);
    border-radius: 10px;
    margin: 5px;
    width: 450px;
    height: 790px;
    overflow: auto;
    box-shadow: 0 0 10px;
}
.T-g{
    width: 380px;
    height: 190px;
    border: 1px solid rgb(234, 225, 225);
    border-radius: 10px;
    background-color: rgb(87, 123, 145);
    margin: 10px 20px;
}
.D-b{
    background-color: rgb(87, 123, 145);
    width: 120px;
    height: 20px;
    margin: 10px;
    text-align: center;
    color: rgb(245, 202, 225);
    border-bottom: 1px solid rgb(232, 228, 25);
    border-top: 1px solid rgb(194, 24, 171);
    border-right: 1px solid rgb(25, 52, 177);
    border-left: 1px solid rgb(213, 52, 16);
    border-radius: 36px;
    position: relative;
    animation: D-H 20s infinite alternate ease-in-out;
}

::-webkit-scrollbar{
    width: 0px;
}
@keyframes D-H {
    0%{left: 0px; top: 0px;}
    25%{left: 1400px; top: 0px; width: 100px;}
    50%{left: 1400px; top: 10px; width: 100px;}
    75%{left: 0px;top: 10px; width: 120px;}
    100%{left: 0px; top: 0px;}
}
@keyframes D-H1 {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(900deg);}
    50%{transform: rotate(1800deg);}
    75%{transform: rotate(2700deg);}
    100%{transform: rotate(3600deg);}
}
